.app {
  text-align: center;
}

.app__tooltip {
  padding: 4px;
  background: #000;
  backdrop-filter: blur(5px);
  color: #fff;
  font-size: 18px;
  border-radius: 8px;
  margin-bottom: 4px;
}

.app__tooltip--more {
  text-decoration: underline;
  color: rgb(93, 93, 236);
  font-size: 12px;
}

.tooltip-inner {
  display: flex !important;
  flex-direction: column;
  grid-area: 4px;
}
